* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  -ms-grid-columns: 1.4fr 2fr;
      grid-template-columns: 1.4fr 2fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-column-gap: 10px;
}

.container .block1 {
  height: 100px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  -ms-grid-columns: .5fr 1fr;
      grid-template-columns: .5fr 1fr;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .block1 .logo {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .block1 .logo img {
  width: 50px;
  height: 50px;
}

.container .block1 .text {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .block1 .text a {
  text-decoration: none;
  font-size: 1.6rem;
  color: darkgrey;
}

.container .block1 .text a .span {
  font-weight: bold;
  -webkit-text-decoration: 2px solid underline black;
          text-decoration: 2px solid underline black;
  color: black;
}

.container .block1 .text a .span:hover {
  color: orangered;
}

.container .block2 {
  width: 100%;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  -ms-grid-columns: (minmax(15px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
}

.container .block2 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
}

.container .block2 .box a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.container .block2 .box a sup {
  color: orangered;
}

.container .block2 .box a:hover {
  color: orangered;
}

@media screen and (max-width: 950px) {
  .container {
    width: 100%;
    height: 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50px 50px;
        grid-template-rows: 50px 50px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container .block1 .text a {
    font-size: 1rem;
  }
  .container .block2 .box a {
    font-size: 1.5rem;
  }
}

.container-fluid {
  width: 100%;
  height: 350px;
  background-color: black;
}

.container-fluid .imges {
  width: 100%;
  height: 350px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-fluid .imges img {
  width: 100%;
  height: 280px;
}

.nav {
  width: 100%;
  height: 100px;
  background-color: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px;
      grid-template-rows: 100px;
  -ms-grid-columns: 1.2fr 2fr .1fr;
      grid-template-columns: 1.2fr 2fr .1fr;
  grid-column-gap: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .bar a {
  font-size: 3rem;
  font-weight: bold;
  color: black;
  display: none;
}

.nav .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .text h1 {
  font-size: 3rem;
}

.nav .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.nav .navbar a {
  font-size: 2rem;
  text-decoration: none;
  color: darkslategrey;
  font-size: 1.9rem;
}

@media screen and (max-width: 1180px) {
  .nav .navbar a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 950px) {
  .nav .text h1 {
    font-size: 2rem;
  }
  .nav .navbar a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 560px) {
  .nav .text h1 {
    font-size: 1.8rem;
  }
  .nav .navbar a {
    font-size: .8rem;
  }
}

.all {
  width: 80%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 320px 320px;
      grid-template-rows: 320px 320px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: auto;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
}

.table {
  width: 100%;
  height: 360px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table h4 {
  color: black;
  font-size: 2rem;
}

.table p {
  color: black;
  font-size: 1.6rem;
}

.table .flex {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.table img {
  width: 100%;
  height: 160px;
}

.table:hover .hover {
  text-align: center;
  width: 100%;
  height: 30px;
  color: blue;
  font-size: 1.8rem;
  visibility: visible;
}

.table:hover {
  border: 1px solid gray;
}

.hover {
  visibility: hidden;
}

@media screen and (max-width: 630px) {
  .nav .bar a {
    display: block;
  }
  .nav .navbar a {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .container-fluid {
    width: 100%;
    height: 250px;
    background-color: black;
  }
  .container-fluid .imges {
    width: 100%;
    height: 250px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-fluid .imges img {
    width: 100%;
    height: 200px;
  }
}

@media screen and (max-width: 830px) {
  .container-fluid {
    width: 100%;
    height: 200px;
    background-color: black;
  }
  .container-fluid .imges {
    width: 100%;
    height: 200px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-fluid .imges img {
    width: 100%;
    height: 160px;
  }
}

@media screen and (max-width: 650px) {
  .container-fluid {
    width: 100%;
    height: 150px;
    background-color: black;
  }
  .container-fluid .imges {
    width: 100%;
    height: 150px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-fluid .imges img {
    width: 100%;
    height: 100px;
  }
}
/*# sourceMappingURL=style.css.map */